lambda function-- it helps to perform codes in only line

In [5]:
x=lambda a : a+10 
x(1000)

1010

In [6]:
z=lambda a,b,c:a+b+c
z(10,20,30)

60

In [7]:
a=lambda x:x+2
a(10)

12

In [4]:
ismail=lambda a,b,c:a+b*c
ismail(7339,838,453)

386953

In [16]:
a=lambda x :x*2 if x%2==0 else x
a(32)

64

# map 
syntax: map(fun,iter)
parameters 
fun: it is a function to which map passes each element of givenn iterable
iter: it is iterable which is to be mapped

In [17]:
number=[1,2,3,4]

In [18]:
list(map(lambda x: x+x,[1,2,3,4]))

[2, 4, 6, 8]

In [22]:
def addition(n):
    return(n*2)
number=[12,23,34,56]
list(map(addition,number))

[24, 46, 68, 112]

In [24]:
numbers1=[1,2,3]
numbers2=[4,5,6]
numbers3=[1,3,4]
result=map(lambda x,y,z:x+y+z, numbers1,numbers2,numbers3)
list(result)

[6, 10, 13]

In [25]:
my_pets=['alfred','tabitha','william','arla']
list(map(lambda x: x.upper(),my_pets))

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [29]:
my_pets=['alfred','tabitha','william','arla']
new=[]
for i in my_pets:
    new.append(i.upper())
print(new)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [32]:
my_strings=['a','b','c','d','e']
my_numbers=[1,2,3,4,5]
my_name=['xx','yy','zz','ww','dd']
results=list(map(lambda x,y,z:(y,x+z),my_strings,my_numbers,my_name))
list(results)

[(1, 'axx'), (2, 'byy'), (3, 'czz'), (4, 'dww'), (5, 'edd')]

# filter
syntax: filter(function,iterable)
filter()method return an iterator that passed the function check for each element in the iterable

In [33]:
dromes=("demigod","rewire","madam","freer","anutforajaroftuna","kiosk")
palindromes=list(filter(lambda a:a==a[::-1],dromes))
palindromes

['madam', 'anutforajaroftuna']

In [34]:
a="ankush"
a[::-1]

'hsukna'

In [3]:
my_list=[1,5,4,6,8,11,3,12]
new_list=list(filter(lambda x:(x%2==0),my_list))
print(new_list)
li=[5,7,22,97,54,62,77,23,73,61]
final_list=list(filter(lambda x:(x%2 !=0),li))
print(final_list)

[4, 6, 8, 12]
[5, 7, 97, 77, 23, 73, 61]

In [5]:
list3=['one','two2','three3','88','99','102']
numeric=list(filter(lambda x:x.isnumeric(),list3))
alpha=list(filter(lambda x:x.isalpha(),list3))
alphanum=list(filter(lambda x:x.isalnum(),list3))
print(alpha)
print(numeric)

['one']
['88', '99', '102']

In [7]:
scores=[66,90,68,59,76,60,88,74,81,65]
def is_student(score):
    return score>75
over_75=list(filter(is_student,scores))
over_75

[90, 76, 88, 81]