In [ ]:
# list is [sequence data structure , heterogeneous , ordered or indexed , mutable , enclosed in [] ("square brackets")
ls=[12,13,14,15,16,17,18,19] #list of integers
ls=['a','b','c','d','e'] # list of chars or string
ls=[12.13,56.76] # list of flloat
ls=[12,23,24,34,56,67,78,"hello"] # list of mixed type

In [1]:
# we can maeke list by using list conductor
ls=list("hello")
print(ls)

['h', 'e', 'l', 'l', 'o']

In [8]:
ls=list((12,23,22,45))
print(ls)

[12, 23, 22, 45]

In [9]:
ls=[1,2,3,4,5,6,[2,4,5],11,[2]] # nested list
print(ls[0])
print(ls[3])
print(ls[-3])

1
4
[2, 4, 5]

In [10]:
ls=[12,23,34,45,56,[45,56,67,78,[67.54,343]],5,[89]]
print(ls[4])

56

In [20]:
ls=[12,23,34,45,56,[45,56,67,78,[67,54,343]],5,[89]]
print(ls[5][4][1])

54

In [24]:
# slicing concept ":"
ls [3:8] # 3 4 5 6 7 
ls[:8]   # from the begining 
ls[3:]  # start from 3 end to the last
ls[:] # from the begining to last 

ls=[12,23,34,45,56,67,78,89,98,87]
print(ls[3:8])
print(ls[:8])
print(ls[3:])
print(ls[:])

[45, 56, 67, 78, 89]
[12, 23, 34, 45, 56, 67, 78, 89]
[45, 56, 67, 78, 89, 98, 87]
[12, 23, 34, 45, 56, 67, 78, 89, 98, 87]

In [26]:
# updation
ls=[12,23,34,45,56,67]
print(ls)
ls[2]="hello"
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 'hello', 45, 56, 67]

In [27]:
ls=[12,23,34,45,56,67]
print(ls)
ls[3:6]=["how","are","you"]
print(ls)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'how', 'are', 'you']

In [30]:
# delete an element from the list ( del---2 ways , pop---2 ways,remove---1)
# del method 1st way is used for deleting single index
ls=[12,23,45,56,67,78,89,98,87]
print(ls)
del ls[3]
print(ls)

[12, 23, 45, 56, 67, 78, 89, 98, 87]
[12, 23, 45, 67, 78, 89, 98, 87]

In [33]:
# 2nd way del method is used for slicing delete or deleting multiple index
ls=[12,23,45,56,67,78,89,98,87]
print(ls)
del ls[3:6]
print(ls)

[12, 23, 45, 56, 67, 78, 89, 98, 87]
[12, 23, 45, 89, 98, 87]

In [40]:
# pop 1st way is used to delete single index 
ls=[12,23,45,56,67,78,89,98,87]
print(ls)
ls.pop(3)
print(ls)

[12, 23, 45, 56, 67, 78, 89, 98, 87]
[12, 23, 45, 67, 78, 89, 98, 87]

In [39]:
# pop 2nd way is used to delete last element by default
ls=[12,23,45,56,67,78,89,90]
print(ls)
ls.pop()
print(ls)
ls.pop()
print(ls)
ls.pop
print(ls)

[12, 23, 45, 56, 67, 78, 89, 90]
[12, 23, 45, 56, 67, 78, 89]
[12, 23, 45, 56, 67, 78]
[12, 23, 45, 56, 67, 78]

In [3]:
# remove function deletes the value without the requirement of index 
ls=[12,13,14,15,16,17,18]
print(ls)
ls.remove(16)
print(ls)

[12, 13, 14, 15, 16, 17, 18]
[12, 13, 14, 15, 17, 18]

In [ ]:
# list methods 
append()
extend()
insert()
copy()
clear()
count()
index()
sort()
reverse()
max()
min()
sum()

In [4]:
# append function---- it helps in inserting an element in the list at the end
# syntax----- ls.append(element)
ls=[12,13,14,15,16,17,18,19]
print(ls)
ls.append(98)
print(ls)

[12, 13, 14, 15, 16, 17, 18, 19]
[12, 13, 14, 15, 16, 17, 18, 19, 98]

In [8]:
# append function as nested list 
ls=[12,13,14,15,16,17,18,19]
print(ls)
ls.append(["hello","how","are"])
print(ls)

[12, 13, 14, 15, 16, 17, 18, 19]
[12, 13, 14, 15, 16, 17, 18, 19, ['hello', 'how', 'are']]

In [15]:
# make the list of 10 integers of your choice
ls=[]
for i in range(10):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)

enter the number 34
enter the number 34
enter the number 34
enter the number 45
enter the number 34
enter the number 45
enter the number 34
enter the number 4
enter the number 5
enter the number 34

[34, 34, 34, 45, 34, 45, 34, 4, 5, 34]

In [16]:
# sum of the list of 5 integers of your choice 
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
print("the sum of list is ",sum(ls))

enter the number 34
enter the number 50
enter the number 10
enter the number 67
enter the number 43

[34, 50, 10, 67, 43]
the sum of list is  204

In [17]:
# sum logic behind ----sum(ls)
s=0
for i in ls:
    s=s+i
print("the sum is",s)

the sum is 204

In [21]:
# separation of odd numbers and even numbers from list
ls=[]
ls_e=[]
ls_o=[]
for i in range(50):
    ls.append(i)
print("original list",ls)
for i in ls:
    if i%2==0:
        ls_e.append(i)
    else:
        ls_o.append(i)
print("even list",ls_e)
print("odd list",ls_o)

original list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
even list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
odd list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [23]:
# FIND THE MAXIMUM ELEMENT IN THE LIST
ls=[]
for i in range(5):
    n=int(input("enter the number"))
    ls.append(n)
print(ls)
print("max element is",max(ls))

enter the number 34
enter the number 54
enter the number 34
enter the number 45
enter the number 65

[34, 54, 34, 45, 65]
max element is 65

In [26]:
# LOGIC BEHIND MAX FUNCTION
large=ls[0]
for i in ls:
    if i>large:
        large=i
print("maximum is",large)

maximum is 65

In [4]:
# extend function------it is used to enter more than one element in the list , the elements are always inserted at the end list 
# syntax----ls.extend(iter)
ls=[12,23,34,45,56,67,78,89,98,76,65,43]
print(ls)
ls.extend([21,23,34])
print(ls)

[12, 23, 34, 45, 56, 67, 78, 89, 98, 76, 65, 43]
[12, 23, 34, 45, 56, 67, 78, 89, 98, 76, 65, 43, 21, 23, 34]

In [5]:
# concatenate----
A=[1,3,4,5,7,8]
B=[2,4,6,8,10]
c=A+B
print(c)

[1, 3, 4, 5, 7, 8, 2, 4, 6, 8, 10]

In [6]:
A=[1,3,5,7,9]
B=[2,4,6,8,10]
A.extend(B)
print(A)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [2]:
# insert----- it is used to insert one element at a time in the list but you can insert the element at desired index

ls=[12,23,34,56,67,78]
print(ls)
ls.insert(3,"daksh")
print(ls)

[12, 23, 34, 56, 67, 78]
[12, 23, 34, 'daksh', 56, 67, 78]

In [4]:
# count------ it returns the frquency of the element in the list
ls=[12,45,23,12,54,43,12,5,3,12]
print(ls)
x=ls.count(12)
print(x)

[12, 45, 23, 12, 54, 43, 12, 5, 3, 12]
4

In [5]:
ls=[12,23,45,32,45,12,324,35,23,12]
print(ls)
for i in ls:
    x=ls.count(i)
    print(i,"=",x)

[12, 23, 45, 32, 45, 12, 324, 35, 23, 12]
12 = 3
23 = 2
45 = 2
32 = 1
45 = 2
12 = 3
324 = 1
35 = 1
23 = 2
12 = 3

In [11]:
new=[]
ls=[23,34,45,56,66,78,99,23,45,67,99]
for i in ls:
    if i not in new:
        new.append(i)
        x=ls.count(i)
        print(i,"=",x)
print("the original list",ls)
print("unique list",new)

23 = 2
34 = 1
45 = 2
56 = 1
66 = 1
78 = 1
99 = 2
67 = 1
the original list [23, 34, 45, 56, 66, 78, 99, 23, 45, 67, 99]
unique list [23, 34, 45, 56, 66, 78, 99, 67]

In [12]:
# reverse()------ it is used to print list in reverse order.
ls=[12,34,54,56,21,45,87,45]
print(ls)
ls.reverse()
print(ls)

[12, 34, 54, 56, 21, 45, 87, 45]
[45, 87, 45, 21, 56, 54, 34, 12]

In [14]:
# sort()------ it is used to arrange elements in ascending or desendiing order by default always ascending
ls=[12,23,21,3,45,43,65,56,87,45]
print(ls)
ls.sort()
print(ls)
ls.sort(reverse=True)
print(ls)

[12, 23, 21, 3, 45, 43, 65, 56, 87, 45]
[3, 12, 21, 23, 43, 45, 45, 56, 65, 87]
[87, 65, 56, 45, 45, 43, 23, 21, 12, 3]

In [15]:
# index()------it return the index of the first occurrence of element
ls=[12,23,34,45,56,67,23]
print(ls)
x=ls.index(23)
print(x)

[12, 23, 34, 45, 56, 67, 23]
1

In [18]:
# copy()------- if we copy a list into another by using equal operator if we change any element in the list then it will reflect in another use 
ls=[12,23,34,45,56,67]
ls1=ls.copy()
print(ls)
print(ls1)
ls1[3]="hello"
print(ls)
print(ls1)

[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 45, 56, 67]
[12, 23, 34, 'hello', 56, 67]

In [19]:
# clear()------ it return empty list
ls=[23,335,24,54,34,345,45]
print(ls)
ls.clear()
print(ls)

[23, 335, 24, 54, 34, 345, 45]
[]