In [12]:
# Python - String
In Python, string is an immutable sequence data type. It is the sequence of Unicode characters wrapped inside single, double, or triple quotes.

'This is a string in Python' # string in single quotes`
"This is a string in Python" # string in double quotes
'''This is a string in Python''' # string in triple quotes
"""This is a string in Python""" # string in triple double-quotes

SyntaxError: invalid syntax (2814481872.py, line 2)

In [1]:
str='this is string in python'
print(str)

this is string in python

In [5]:
str2="this is string in python"
print(str2)

this is string in python

In [9]:
str1='''this is
the first
multi line string
'''
print(str1)

this is
the first
multi line string

In [10]:
str2="""this is
the second
multi  line
string"""
print(str2)

this is
the second
multi  line
string

In [14]:
greet='hello'
n=len(greet) #returns 5
print(n)

5

In [16]:
# A sequence-------is defined as an ordered collection of items. Hence, a string is an ordered collection of characters.
# The sequence uses an index, starting with zero to fetch a certain item (a character in case of a string) from it
greet='hello'
print(greet[0])
print(greet[1])
print(greet[2])
print(greet[3])
print(greet[4])
print(greet[5]) #indexerror: string index out of range

h
e
l
l
o

IndexError: string index out of range

In [17]:
greet='hello'
print(greet[-5])
print(greet[-4])
print(greet[-3])
print(greet[-2])
print(greet[-1])
print(greet[0])

h
e
l
l
o
h

In [18]:
# The string is an immutable object. Hence,
# it is not possible to modify it. The attempt to assign different characters at a certain index results in errors.
greet='hello'
greet[0]='A' # type error:'str' object does not support item
assignment

TypeError: 'str' object does not support item assignment

In [1]:
# use the str() function to convert a number to a string
#example:str()
s=str(100)
print(type(s))

<class 'str'>

In [2]:
s=str(-10)
print(s)

-10

In [5]:
s=str(True)
print(s)

True

In [11]:
# Python capitalize() Method
# The capitalize() method returns the copy of the string with its first character capitalized and the rest of the letters lowercased.


# Syntax:------# string.capitalize() 
mystr='madrid is a best institute for data science learning'
total=mystr.count('madrid')
print('Number of occurrences of "Madrid":',total)
total=mystr.count('Madrid')
print('Number of occurences of "madrid":',total)

Number of occurrences of "Madrid": 1
Number of occurences of "madrid": 0

In [12]:
#Python String endswith() Method
# The endswith() function returns True if a string ends with the specified suffix (case-sensitive), otherwise returns False.
print(mystr.endswith(','))
print(mystr.endswith('age.'))
print(mystr.endswith('language.'))
print(mystr.endswith('programming language.'))
print(mystr.endswith('age'))

False
False
False
False
False