In [ ]:
# Python - Set
A set is a mutable collection of distinct hashable objects, same as the list and tuple. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.

The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

A set object contains one or more items, not necessarily of the same type, which are separated by a comma and enclosed in curly brackets {}. The following defines a set object with even numbers.

In [3]:
even_nums = {2,2,4,6,8,10}
print(even_nums)

{2, 4, 6, 8, 10}

In [5]:
emp={1,'steve',10.5,True}
print(emp)

{'steve', 1, 10.5}

In [6]:
nums={1,2,2,3,4,4,5,}
print(nums)

{1, 2, 3, 4, 5}

In [ ]:
# A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object. Hence, indexing and slicing operations cannot be done on a set object.
The order of elements in the set is not necessarily the same as the order given at the time of assignment. Python optimizes the structure of a

In [7]:
myset={(10,10),10,20}
print(myset)

{(10, 10), 10, 20}

In [8]:
myset={[10,10],10,20}
print(mystr)

TypeError: unhashable type: 'list'

In [9]:
myset={{10,10},10,20}

TypeError: unhashable type: 'set'

In [10]:
emp={} # create an empty dictionary
print(type(emp))

<class 'dict'>

In [11]:
s=set()
print(type(s))

<class 'set'>

In [ ]:
# The set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.

# Example: Convert Sequence to Set

In [12]:
s=set('hello')
print(s)

{'l', 'o', 'h', 'e'}

In [14]:
s=set((1,2,3,4,5))
print(s)

{1, 2, 3, 4, 5}

In [15]:
d={1:'One',2:'Two'}
s=set(d)
print(s)

{1, 2}

In [ ]:
# Modify Set Elements
# Use built-in set functions add(), remove() or update() methods to modify set collection.
# Example:

In [17]:
s=set()
s.add(10)
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [18]:
primeNums={2,3,5,6}
s.update(primeNums)
print(s)

{2, 3, 20, 5, 6, 10, 30}

In [19]:
s.remove(2)
print(s)

{3, 20, 5, 6, 10, 30}

In [ ]:
# Python Set clear() Method
# The set.clear() method removes all the elements from the set.

# Syntax: set.clear()

In [20]:
langs={'python','C++','c','go'}
langs.clear()
print(langs)

set()

In [24]:
# python set copy() method---- the set.copy methd returns a shallow copy of the set 
# syntax:
# set.copy()
langs={'python','C++','java'}
copiedlangs=langs.copy()
print("original set:",langs)
print("copied set:",copiedlangs)

original set: {'python', 'java', 'C++'}
copied set: {'python', 'java', 'C++'}

In [25]:
A={1,2,3,4,5,6,7,8}
B={4,5,6,7,8,9,10}
print("A-B",A-B)

A-B {1, 2, 3}

In [26]:
A={1,2,3,4,5,6,7,8}
B={4,5,6,7,8,9,10}
print("B-A",B-A)

B-A {9, 10}

In [29]:
nums1={1,2,3,4,5}
nums2={4,5,6,7,8,8}
nums3=nums1.difference(nums2)
nums4=nums2.difference(nums1)
print("nums1-nums2:",nums3)
print("nums2-nums1:",nums4)

nums1-nums2: {1, 2, 3}
nums2-nums1: {8, 6, 7}

In [35]:
#Python Set intersection() Method
#The set.intersection() method returns a new set with the elements that are common in the given sets.
# synatx
#set.intersection(*other_sets),
x={1,2,3,4,5}
y={1,3,5,7,9}
z={2,3,5,7}
w=x.intersection(y,z)
print("common elements:",w)

common elements: {3, 5}

In [37]:
#Python Set union() Method
#he set.union() method returns a new set with distinct elements from all the given sets.

#Syntax:
#A.union(*other_sets)
nums1={1,2,2,3,4,5}
nums2={4,5,6,7,7,8}
distinct_nums=nums1.union(nums2)
print("the union of two set is:",distinct_nums)

the union of two set is: {1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
# DIFFERCENE BETWEEN REMOVE AND DISCARD
myset={'eight','five','two','one','seven','six','three','two'}

In [41]:
myset.remove('nine')

KeyError: 'nine'

In [42]:
myset.discard('nine')

In [43]:
# when non existing elements removed my remove it shows error meanwhile when we remove it through discard it will  not give any error or smtg because it will ignore the command if it's the non existing element

In [44]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [45]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}